<h2>Добро пожаловать Сергей</h2>
<p>Список ващих клиентов</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Клиента</th>
			<th>Дата записи</th>
			<th>Телефон</th>
			<th>Парикхмахер</th>
			<th>Цвет окрашивания</th>
		</tr>
	</thead>
	<tbody>
			<% @results.each do |row| %>
				<tr>
					<td><%= row[1] %></td>
					<td><%= row[3] %></td>
					<td><%= row[2] %></td>
					<td><%= row[4] %></td>
					<td><%= row[5] %></td>		
				</tr>
			<% end %>
	</tbody>
</table>

